Would you like a salad with your pizza?


<form method="post" action="salad">
    <input type="text" name="salad">
    <input type="hidden" name="crust" value=<%= crust %>>
    <input type="hidden" name="toppings" value=<%= toppings %>>
    <br>
    <br>
    <input type="submit">
</form>