<center><b>Would you like a salad with your pizza?<b>
<!DOCTYPE html>
<html>
<body style="background-color:lightgrey;">

</body>
</html>


<form method="post" action="salad">
    <input type="text" name="salad">
    <input type="hidden" name="crust" value=<%= crust %>>
    <input type="hidden" name="toppings" value=<%= toppings %>>
    <br>
    <br>
    <input type="submit">
</form>
<img class="irc_mi" src="http://georgetown.spoonuniversity.com/wp-content/uploads/sites/25/2015/10/pug-broccoli.gif" alt="Image result for animated gif images" onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this)" width="500" height="500" style="margin-top: 10px;">


