<center><b>Our special today is a large  pizza for twelve dollars.
What toppings would you like on it?<b><center/>

<!DOCTYPE html>
<html>
<body style="background-color:lightgrey;">

</body>
</html>

<!DOCTYPE html>
<html>
<body>

<form method="post" action="toppings">
  <select name="toppings">
    <option value="pepperoni">pepperoni</option>
    <option value="sausage">sausage</option>
    <option value="cheese">cheese</option>
    <option value="supreme">supreme</option>
  </select>
  <br><br>

     <input type="hidden" name="crust" value=<%= crust %>>
    <br>
    <br>
  <input type="submit">
</form>

</body>
</html>
<img class="irc_mi" src="http://teachinghat.weebly.com/uploads/2/3/8/7/23874424/7105776_orig.jpg" onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this)" width="500" height="500" style="margin-top: 10px;" alt="Image result for animated gif images">
