Our special today is a large  pizza for twelve dollars.

What toppings would you like on it?

<form method="post" action="toppings">
    <input type="text" name="toppings">
     <input type="hidden" name="crust" value=<%= crust %>>
    <br>
    <br>
    <input type="submit">
</form>