Good afternoon, what type of crust would you like your pizza to have?


<form method="post" action="pizza_crust">
    <input type="text" name="crust">
    <br>
    <br>
    <input type="submit">
</form>