<center><img class="irc_mi" src="https://prodimages.restaurants-sign.com/350/l718424-pizza-animated-led-sign.gif" alt="Image result for animated gif images" onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this)" width="304" height="124" style="margin-top: 115px;"></center>

<!DOCTYPE html>
<html>
<body>
<center/><h4><b>WELCOME TO KRIS' HOMEMADE PIZZA<b><h4><center/>
<body>
<html>

<b>Good afternoon, what type of crust would you like your pizza to have?<b>
<!DOCTYPE html>
<html>
<body style="background-color:lightgrey;">

</body>
</html>


<form method="post" action="pizza_crust">
<fieldset>
	<p> Please choose one. </p>
	<br>
	<input type="radio" name="crust" value="thin">
	<label> Thin </label>
	<br>
	<input type="radio" name="crust" value="thick">
	<label> Thick </label>
	<br>
	<input type="radio" name="crust" value="pan">
	<label> Pan </label>
	<br>
	<input type="radio" name="crust" value="stuffed">
	<label> Stuffed </label>
	<br>
</fieldset>
	<input type="submit" value="Submit">
</form>
</fieldset>
</body>
</html>
<img class="irc_mi" src="http://www.jspizzaannville.net/s/cc_images/cache_5747590.gif?t=1413263499" alt="Image result for animated gif images" onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this)" width="500" height="500" style="margin-top: 10px;">
<!DOCTYPE html>
<html>
<body>

<iframe width="10" height="10" src="https://www.youtube.com/embed/RnoDb0bMQuk?autoplay=1">
</iframe>

</body>
</html>

